body{ background-image: url(../img/background.jpg);

}
nav {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 10px;
}

.login-form {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 10px;
}
.list-group {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 10px;
    background-color:#F8F9F9 ;

}



.media-list {
    list-style-type: none;
    padding: 0;
}

.media-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.media-image {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.media-content {
    flex-grow: 1;
}

.media-title {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.media-description {
    margin: 0;
}
.login-index{
    margin: 0;
}
.tab-content{
    background-color: #F8F9F9;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 10px;
}
.form-rn{
    margin: 0 auto;

}
.form-rusuario{
    background-color: #F8F9F9;
    max-width: 1200px;
    margin: 0 auto;
    border-color: azure;

}
.form-registro{
    background-color: #F8F9F9;
    max-width: 1200px;
    margin:10px auto;

}
.navbar-custom {
    background-color: #0d6efd;
}

.form-contacto {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 10px;
    background-color:#F8F9F9 ;

}
.form-list {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 10px;

}
.card {
    height: 100px;
}


.card-body {
    display: flex;
    align-items: center; /* Centrar verticalmente el contenido */
    justify-content: center; /* Centrar horizontalmente el contenido */
    height: 100%; /* Ajustar la altura del contenido */
}