<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Listar Usuarios</title>
</head>
<header th:include="~{../static/html/navSecundario.html}"></header>
<body>




<div class="form-rusuario rounded">
    <div class="form-registro form-rn col-md-6 rounded">
        <form th:action="@{/crearUsuario}" id="formUsuario" method="post">
            <div class="text-center mb-3">
                <h5>Crear Usuario</h5>
            </div>
            <div class="mb-3">
                <label for="run" class="form-label">RUN</label>
                <input type="number" class="form-control" id="run" name="run">
            </div>
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre">
            </div>
            <div class="mb-3">
                <label for="apellido1" class="form-label">Apellido 1</label>
                <input type="text" class="form-control" id="apellido1" name="apellido1">
            </div>
            <div class="mb-3">
                <label for="apellido2" class="form-label">Apellido 2 (opcional)</label>
                <input type="text" class="form-control" id="apellido2" name="apellido2">
            </div>
            <div class="mb-3">
                <label for="telefono" class="form-label">Teléfono</label>
                <input type="number" class="form-control" id="telefono" name="telefono">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="mb-3">
                <label for="clave" class="form-label">Clave</label>
                <input type="password" class="form-control" id="clave" name="clave">
            </div>
            <div class="form-group mb-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="perfil.idPerfil" value="2" id="inlineRadio1">
                    <label class="form-check-label" for="inlineRadio1">Empleador</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="perfil.idPerfil" value="3" id="inlineRadio2">
                    <label class="form-check-label" for="inlineRadio2">Contador</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
    </div>
</div>

<footer th:include="~{../static/html/footer.html}"></footer>
</body>
</html>