
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <meta charset="UTF-8">
  <title>Liquidaciones</title>
</head>
<header th:include="~{../static/html/navSecundario.html}"></header>
<body>

<div class="container mt-3">
  <div class="d-flex justify-content-between align-items-center mb-3 mb-3">

    <a href="/liquidacion/crearLiquidacion" class="btn btn-primary">Agregar Liquidacion</a>
  </div>
  <div class="form-list rounded">
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Id Trabajador</th>
        <th>Nombre Trabajador</th>
        <th>Sueldo Imponible</th>
        <th>Sueldo Liquido</th>
        <th>Acción</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="liquidacion: ${liquidaciones}">
        <td th:text="${liquidacion.idLiquidacion}"></td>
        <td th:text="${liquidacion.trabajador.idTrabajador}"></td>
        <td th:text="${liquidacion.trabajador.nombre}"></td>
        <td th:text="${liquidacion.sueldoImponible}"></td>
        <td th:text="${liquidacion.sueldoLiquido}"></td>
        <td>

    <!--      <form th:action="@{/liquidacion/eliminar/{idLiquidacion}(idTrabajador=${liquidacion.trabajador.idTrabajador})}" th:method="post" onsubmit="return confirm('¿Eliminar esta liquidación?')">
            <button type="submit" name="idLiquidacion" value="${liquidacion.idLiquidacion}" class="btn btn-danger btn-sm">
              Eliminar
            </button>
          </form>
-->

          <!--
          <form th:action="@{/liquidacion/eliminar/{idLiquidacion}(idTrabajador=${liquidacion.trabajador.idTrabajador})}" th:method="post" onsubmit="return confirm('¿Eliminar esta liquidación?')">
            <button type="submit" name="idTrabajador" value="${liquidacion.trabajador.idTrabajador}" class="btn btn-danger btn-sm">
              Eliminar
            </button>
          </form>
           -->
          <!-- ... -->
          <form th:action="@{/liquidacion/eliminar/{idLiquidacion}(idLiquidacion=${liquidacion.idLiquidacion},idTrabajador=${liquidacion.trabajador.idTrabajador})}" th:method="post" onsubmit="return confirm('¿Eliminar esta liquidación?')">
            <button type="submit" class="btn btn-danger btn-sm">
              Eliminar
            </button>
          </form>

          <!-- ... -->




          <form th:action="@{/liquidacion/editar/{idLiquidacion}(idTrabajador=${liquidacion.trabajador.idTrabajador})}" th:method="get">
            <button type="submit" class="btn btn-primary btn-sm">
              Editar
            </button>
          </form>

        </td>

      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>