<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Listar Usuarios</title>
</head>
<header th:include="~{../static/html/navSecundario.html}"></header>
<body>


<div class="form-list rounded">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Run</th>
                <th>Nombre</th>
                <th>Apellido 1</th>
                <th>Email</th>
                <th>Perfil</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="usuario: ${usuarios}">
                <td th:text="${usuario.idUsuario}"></td>
                <td th:text="${usuario.run}"></td>
                <td th:text="${usuario.nombre}"></td>
                <td th:text="${usuario.apellido1}"></td>
                <td th:text="${usuario.email}"></td>
                <td th:text="${usuario.perfil.descripcion}"></td>
                <td>

                    <form th:action="@{/usuario/eliminar/{idUsuario}(idUsuario=${usuario.idUsuario})}" th:method="post" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este usuario?')">
                        <button type="submit" name="idUsuario" value="${usuario.idUsuario}" class="btn btn-danger btn-sm">
                            Eliminar
                        </button>
                    </form>
                    <form th:action="@{/usuario/{idUsuario}/editar(idUsuario=${usuario.idUsuario})}" th:method="get">
                        <button type="submit" class="btn btn-primary btn-sm">
                            Editar
                        </button>
                    </form>



                </td>

            </tr>
        </tbody>
    </table>
</div>
</body>
</html>